<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏈 FamLeague 🏈</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/chat.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/navigation.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Monoton|Open+Sans" rel="stylesheet">
</head>
<body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'famleague:index' %}">Your Team</a>
      <a href="{% url 'famleague:rules' %}">How to Play</a>
      <a href="{% url 'famleague:lineup' 'A' %}">Pick Lineup</a>
      <a href="{% url 'famleague:leader' %}">Leaderboard</a>
      <!--<a href="{% url 'famleague:chat' %}">Chatter Box</a>  -->
      <a href="{% url 'famleague:logout_user' %}">Logout</a>

    </div>
    <header><span id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span></header>
    <div id="main-flex-chat">
        <h1>The Chatter Box</h1>

        <form action="{% url 'famleague:message' %}" method="post" >
        {% csrf_token %}
        <input type="text" name="message" placeholder="enter message here">
        <button class="btn" type="submit">Submit</button>
        </form>





    </div>



    <!-- Footer -->
    <footer>
        <p>Angelina Bowmer, Inc. ©</p>
    </footer>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>
</html>