<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏈 FamLeague 🏈</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/navigation.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Monoton|Open+Sans" rel="stylesheet">
</head>
<body>

    <div id="main-user-page">
        <span id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        <h2>Welcome, {{user}}</h2>
        <h3>Your Team Lineup</h3>
    <div class="lineup">
        {% for team in teams %}
        <div class="user-lineup">

             <img src="{{team.image.url}}">
            <p>{{team.city}} {{team.name}}</p>
               <p>Score: {{team.score_2019}}</p>

         </div>
        {% endfor %}
        <!--<div class="added-score">Your Score is:{{user.score}}</div>-->
    </div>
     <!-- Footer -->
        <footer>
        	<div class="footer">
            <p>Angelina Bowmer, Inc. ©</p>
        	</div>
        </footer>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'famleague:index' %}">Your Team</a>
      <a href="{% url 'famleague:rules' %}">How to Play</a>
      <a href="{% url 'famleague:lineup' 'A' %}">Pick Lineup</a>
      <a href="{% url 'famleague:leader' %}">Leaderboard</a>
      <a href="{% url 'famleague:logout_user' %}">Logout</a>

    </div>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>
</html>