<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏈 FamLeague 🏈</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Monoton|Open+Sans" rel="stylesheet">
</head>
<body>

    <div id="main-user-page">
        <span id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        <h2>Welcome, {{user}}</h2>
        <h3>Your Team Lineup</h3>

        {% for team in teams %}
             <img src="{{team.image.url}}">
            {{team.city}}
            {{team.name}}
        {% endfor %}

    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'famleague:index' %}">Your Team</a>
      <a href="{% url 'famleague:leader' %}">Leaderboard</a>
      <a href="{% url 'famleague:logout_user' %}">Logout</a>

    </div>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>
</html>