<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to FamLeague</title>
    {% load static %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'famleague/style.css' %}" />-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</head>
<body>
    <div id="main-user-page">
        <h1>Welcome {{username}}</h1>
        <a href="{% url 'famleague:logout_user' %}">logout</a>
        <h3>Your Team Lineup</h3>
    </div>

</body>
</html>