<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏈 FamLeague 🏈</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/leader.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/navigation.css' %}" />
</head>
<body>
    <header><span id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span></header>


    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'famleague:index' %}">Your Team</a>
      <a href="{% url 'famleague:rules' %}">How to Play</a>
      <a href="{% url 'famleague:lineup' 'A' %}">Pick Lineup</a>
      <a href="{% url 'famleague:leader' %}">Leaderboard</a>
      <!--<a href="{% url 'famleague:chat' %}">Chatter Box</a>  -->
      <a href="{% url 'famleague:logout_user' %}">Logout</a>

    </div>
    <h2>Leaderboard</h2>
    <div id="main-leader-content">

        <div class="lead-board">
            <table>
                <tr>
                    <th>Place</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                {% for user_score in user_scores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{user_score.username}}</td>
                    <td>{{user_score.score}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="team-board">
            <table>
                <tr>
                    <th>Team Name</th>
                    <th>Score</th>
                    <th>Category</th>
                </tr>
                {% for team_score in team_scores %}
                <tr>
                    <td>{{team_score.team}}</td>
                    <td>{{team_score.score}}</td>
                    <td>{{team_score.category}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
    <!-- Footer -->
        <footer>
            <p>Angelina Bowmer, Inc. ©</p>
        </footer>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>