<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏈 FamLeague 🏈</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/lineup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/navigation.css' %}" />
</head>
<body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'famleague:index' %}">Your Team</a>
      <a href="{% url 'famleague:rules' %}">How to Play</a>
      <a href="{% url 'famleague:lineup' 'A' %}">Pick Lineup</a>
      <a href="{% url 'famleague:leader' %}">Leaderboard</a>
      <a href="{% url 'famleague:logout_user' %}">Logout</a>
    </div>
    <header><span id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span></header>


        <div class="teams">
            <h2>Create Your Lineup</h2>
            <center><p class="how-to">Pick a team from each category, once you have made your selection the team will be placed in the "Your Team" page. To remove a team, click on the same team helmet you chose before then click on a new team in the same category to add to your homepage.</p></center>
            <h3>{{category}}</h3>
            <button class="btn-cat"><a href="{% url 'famleague:lineup' 'A' %}">A</a></button>
            <button class="btn-cat"><a href="{% url 'famleague:lineup' 'B' %}">B</a></button>
            <button class="btn-cat"><a href="{% url 'famleague:lineup' 'C' %}">C</a></button>
            <button class="btn-cat"><a href="{% url 'famleague:lineup' 'D' %}">D</a></button>

            <form method="post" id="main-flex-lineup">
                {% csrf_token %}
                {% for team in teams %}
                <div class="team">
                    <button type="submit" class="btn" formaction="{% url 'famleague:pick_team' team.id %}">
                        <img class="teampick" src="{{team.image.url}}">
                    </button>
                    <p> {{team.city}} {{team.name}}</p>
                </div>
                {% endfor %}
            </form>

        </div>
         <!-- Footer -->
        <footer>
            <p>Angelina Bowmer, Inc. ©</p>
        </footer>









    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>
</html>