<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/style.css' %}" />
</head>
<body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'famleague:index' %}">Your Team</a>
      <a href="{% url 'famleague:leader' %}">Leader Board</a>
      <a href="{% url 'famleague:logout_user' %}">Logout</a>
      <!--<a href="#">Contact</a>-->
    </div>
    <div id="main-lineup">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

        <h1>PICK TEAMS</h1>

        <div class="a-column">
            <h3>A</h3>

        </div>

        <div class="b-column">
            <h3>B</h3>

        </div>

        <div class="c-column">
            <h3>C</h3>

        </div>

        <div class="d-column">
            <h3>D</h3>

        </div>
    </div>








    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>
</html>