<!DOCTYPE html>
<html lang="en">
<head>

    <title>🏈 FamLeague 🏈</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/login.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Monoton|Open+Sans" rel="stylesheet">

</head>
<body>
    <div id="main-flex-container">
        <h1>FamLeague</h1>
            <div class="form-box">
                <div class="left-container">




                    <div class="form">
                    <form action="{% url 'famleague:login_user' %}" method="post" class="login-form">
                    {% csrf_token %}
                        <section>
                            <h2>Login</h2>
                            <p>
                            <label class="lbl">Username</label>
                            <input type="text" name="username" placeholder="Username" >
                            </p>

                            <p>
                            <label class="lbl">Password</label>
                            <input type="password" name="password" placeholder="Password" >
                            </p>
                            <button type="submit" class="login-btn">Sign in</button>

                        </section>
                    </form>

                    </div>

                </div>

                <div class="right-container">




                        <div class="form">
                        <form action="{% url 'famleague:register_user' %}" method="post" class="registration-form">
                        {% csrf_token %}
                                <section>
                                    <h2>Register</h2>
                                        <p>
                                        <label class="lbl" >Username</label>
                                        <input type="text" name="username" placeholder="Username" >
                                        </p>

                                        <p>
                                        <label class="lbl" >Password</label>
                                        <input type="password" name="password" placeholder="Password">
                                        </p>

                                        <p>
                                        <label class="lbl">Email</label>
                                        <input type="text" name="email" placeholder="Email">
                                        </p>

                                        <button type="submit" class="login-btn">Sign me up</button>
                                </section>
                        </form>

                        </div>
                </div>

        </div>


        <!-- Footer -->
        <footer>
        	<div class="footer">
            <p>Angelina Bowmer, Inc. ©</p>
        	</div>
        </footer>
    </div>







</body>
</html>