<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to Play</title>
    {% load static %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'famleague/style.css' %}" />-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</head>
<body>
    <div id="main-rules">
        <h1>How To Play</h1>

        <p class="rules">
            Each player will pick a team from each column A, B, C and D then choose one of those teams to be a tiebreaker. Every team lineup is different so the earlier you pick your teams the more likely no one else will have that line up!



        </p>
    </div>

</body>
</html>