<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏈 FamLeague 🏈</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/rules.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'famleague/navigation.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</head>
<body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'famleague:index' %}">Your Team</a>
      <a href="{% url 'famleague:lineup' 'A' %}">Pick Lineup</a>
      <a href="{% url 'famleague:leader' %}">Leaderboard</a>
      <a href="{% url 'famleague:logout_user' %}">Logout</a>
      <!--<a href="#">Contact</a>-->
    </div>
        <header><span id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span></header>
    <div id="main-rules">

        <h1>How To Play</h1>

        <p class="rules">
        <h4>This is a regular season game, starting week 1 and ending week 17.</h4>
        <u>Directions:</u>
        Each player will pick a team from column A, B, C and D.</p>

        <p class="rules"> <u>Entry Terms:</u>
                Each four team combos can be had once, first come first serve. No changing pick's after submitting your selection. Entry's accepted starting August 1st through til the start of the regular season in September.</p>
        <p class="rules"><u>Prizes:</u>
            Last place will get 15 points to carry into next season, the top three will be
        </p>
            <h3>Scoring</h3>
            <ul>
                <li>Win = 2 points</li>
                <li>Tie = 1 points</li>
                <li>Playoff Berth = 2 points</li>
            </ul>

        <input id="cb_agree" type="checkbox"/>I agree to the rules stated above
        <button id="bt_agree" disabled>Next</button>


    </div>
    <!-- Footer -->
    <footer>
            <p>Angelina Bowmer, Inc. ©</p>
    </footer>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        let cb_agree = document.querySelector('#cb_agree')
        let bt_agree = document.querySelector('#bt_agree')
        cb_agree.onchange = function() {
            if (cb_agree.checked) {
                bt_agree.removeAttribute('disabled')
            } else {
                bt_agree.setAttribute('disabled', 'disabled')
            }
        }
        bt_agree.onclick = function() {
            window.location = "{% url 'famleague:lineup' 'A' %}"
        }
    </script>


</body>
</html>