/* Leaderboard page */
html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: table;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

}

h2 {
    color: darkorange;
    text-shadow: 2px 1px dodgerblue;
    text-align: center;
    font-size: 3em;
}

header {
    background-image: url("./images/football-field.jpg");
    width: 100%;
    height: 60px;
    color: black;
    text-shadow: 1px 1px white;
    padding: 10px;
    position: relative;
    top: -1px;
    font-weight: bold;
    text-align: left;

}
footer {
    background-color: black;
    position: sticky;
    bottom: -1px;
    width:100%;
    height:60px;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px gray;
    text-align: center;
}

table {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

table, th, td {
    border-collapse: collapse;
    padding: 8px;
    margin: 5px;
    width: 500px;

}

td {
    text-align: center;
}
th {
    background-color: dodgerblue;
    color: white;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

#main-leader-content {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 20px;
}




