/* Leaderboard page */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
    margin: 5px;

}
#main-leader-content {
    display: flex;
    flex-direction: row;
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    color: black;
    text-shadow: 1px 1px white;

}
