/* Lineup page */
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0 auto;
    /*min-height: 100%;*/
    display: table;
    width: 100%;
    font-family: 'Open Sans', sans-serif;


}
header {
    background-image: url("./images/football-field.jpg");
    width: 100%;
    height: 60px;
    color: black;
    text-shadow: 1px 1px white;
    padding: 10px;
    position: absolute;
    top: 0;
    font-weight: bold;
    text-align: left;

}

footer {
    background-color: black;
    position: sticky;
    bottom: -1px;
    width:100%;
    height:60px;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px gray;
    text-align: center;
}

h2 {
    color: darkorange;
    text-shadow: 2px 1px dodgerblue;
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

#main-flex-lineup {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}


.how-to {
    width: 700px;
    text-align: left;
}

.btn-cat {
    background-color: black;
    color: white;
    width: 150px;
    height: 35px;
    border: none;
    margin: 10px;

}

.btn-cat:hover {
    background-color: dimgray;
    color: white;
    width: 150px;
    height: 35px;
    border: none;
    margin: 10px;

}


.teams {
    margin-top: 10%;
    text-align: center;

}

.team {
    /* creates 4 helmets in a row and wraps*/
    flex: 1 0 21%;
    text-align: center;
    margin: 20px;
    overflow-x: hidden;
}



.teampick {
    transition: .5s ease;
    opacity: .3;

}

.teampick:hover {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}


.btn {
    border: none;
    background-color: transparent;
}

img {
    width: 150px;
}