html, body {
    margin: 0;
}
body {
    /*text-align: center;*/
    font-family: 'Open Sans', sans-serif;
}

footer {
    position: absolute;
    bottom:0;
    width:100%;
    height:60px;
    color: black;
    text-shadow: 1px 1px white;
    font-weight: bold;

}
h1 {
    margin: 0 auto;
    color: darkorange;
    text-shadow: 2px 2px dodgerblue;
    font-family: 'Monoton', cursive;
    font-size: 5em;
}

h2 {
	margin: 10px;
	font-size: 2em;

}

/* Login page*/
#main-flex-container {
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("./images/football-field.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

form {
    padding: 10px;
}

.form-box {
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.left-container, .right-container {
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
    width: 500px;
    height: 300px;
    background-image: url("./images/footballtexture.jpg");
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 18px #000000;
    background-repeat: no-repeat;
    background-size: cover;


}

.login-btn {
    background-color: black;
    color: white;
    width: 150px;
    height: 35px;
    border: none;
    margin: 10px;
    border-bottom: 1px solid whitesmoke;
    /*border-right: 1px solid whitesmoke;*/
}

input {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    width: 300px;
    height: 25px;
    padding: 3px;
    margin: 10px;
    font-size: 1em;
}