
body {
    margin: 0 auto;
    /*margin-left: 250px;*/
    /*background-color: azure;*/
    font-family: 'Open Sans', sans-serif;
}
#main-flex-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #818181;
}


.form-box {
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-evenly;

}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;


}

.top-left, .top-right {
    background-color: blue;
    border-top-left-radius: 8px;
    padding: 10px;
}

.bottom-left, .bottom-right {
    display: flex;
    justify-content: center ;
    background-color: dodgerblue;
    padding:10px;
}








/* Navigation */
#menu {
    margin: 20px;
    /*justify-content: left;*/
    /*position: absolute;*/
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orange;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    transition: all .3s;
}
h1 {

    font-family: 'Monoton', cursive;
}
h1, h2 {
	margin-top: 10px;
	font-size: 38px;

}

/* Rules page */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}
#main-rules {
    text-align: center;
    width: 750px;
    background-color: rgba(0, 0, 0, .3);
}
.btn {
  border: none;
  background-color: transparent;
}

img {
    width: 150px;
}

.teampick {
  transition: .5s ease;
  opacity: .3;


}
.teampick:hover {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}


