html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: table;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

h2 {
    color: darkorange;
    text-shadow: 2px 1px dodgerblue;
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

h2, h3 {

    text-align: center;
}
header {
    background-image: url("./images/football-field.jpg");
    width: 100%;
    height: 60px;
    color: black;
    text-shadow: 1px 1px white;
    padding: 10px;
    position: relative;
    top: -1px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid black;
}
footer {
    background-image: url("./images/football-field.jpg");
    width: 100%;
    height: 60px;
    color: black;
    text-shadow: 1px 1px white;
    padding: 10px;
    position: sticky;
    bottom: -1px;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid black;

}

/* index page */
#main-user-page {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.lineup {
    margin: 2%;
    height: 100vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;


}

.user-lineup {
    text-align: center;
    flex-direction: row;
}

.btn {
    border: none;
    background-color: transparent;
}

img {
    width: 150px;
}


